:root{
    --blackRussian: #1f1f26;
    --greyWhite: #f9f9f9;
    --pacificBlue: #1ca9c9;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    line-height: 1.6;
}

/* Utility Classes  and stylings */

.btn{
    font-weight: lighter;
    color: #fff;
    text-decoration: underline;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background: none;
}

.btn:hover{
    color: rgb(184, 184, 184);
}

/* header */
.header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-top{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    padding: 18px 0;
}

.head-body{
    flex: 1;
}
.menu{
    text-align: left;
    line-height: 10px;
    color: #fff;
}
  
.menu a{
    color: #fff;  
    font-size: 15px;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 20px;
    transition: 0.4s;
}
  
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    color: #fff;  
}
  
.show-menu-btn{
    float: left;
    color: black;
}
.show-menu-btn i{
    line-height:60px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #b8b8b8;
    text-decoration: none;
}
  
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
    
.menu{
    position: fixed;
    width: 20%;
    height: 100vh;
    background: #333;
    left: -100%;
    top: 0;
    text-align: left;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
      
}
.menu a{
    display: block;
    padding: 10px;
}

.hide-menu-btn{
    position: absolute;
    top: 20px;
    right: 10px;
}

#chk:checked ~ .menu{
    left: 0;
}

.brand-name{
    text-decoration: none;
    transition: color 0.4s ease;
}

.brand-name:hover{
    color: rgb(184, 184, 184);
}

.head-icon a{
    color: black;  
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.4s linear;
    font-size: 20px;
}
.head-icon:hover{
    color: rgb(184, 184, 184);
}

.col-md-12 {
    text-transform: uppercase;
    font-weight: lighter;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background: none;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.ml-4, .mx-4 {
    color: black;
    margin-right: 1.5rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
}

.col-4 img{
    width: 100%;
 
}

.col-4 h4{
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating i{
    color: black;
}

.col-4:hover{
    transform: translateY( 5px);
}

/* Media Queries */
@media screen and (min-width: 375px){

    .col-md-12{
        text-align: center;
        padding-left: 50px;
    }
    
    @media screen and (min-width: 992px){
    
        .col-md-12{
           text-align: center;
           padding-left: 200px;
           padding-right: 200px;
           padding-bottom: 30px;
           padding-top: 30px;
        } 
}
}